body {
  text-align: center;
  background-color: #c8dad3;
  font-family: sans-serif;
}
h1 {
  font-size: 3rem;
}
.profile-pic {
  border-radius: 200px;
}
.cloud-image {
  width: 100%;
}
.mount-image {
  width: 100%;
  position: relative;
  bottom: 700px;
}
.top-container {
  position: relative;
  bottom: 700px;
  font-family: Sacramento;
  font-size: 20px;
}
.middle-container {
  position: relative;
  bottom: 700px;
}
.bottom-container {
  /* position: relative;
  top: 0px; */
}
